aiofiles==25.1.0
aiogram==3.25.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp-retry==2.9.1
aiosignal==1.4.0
altgraph==0.17.5
annotated-types==0.7.0
anyio==4.12.0
attrs==25.4.0
beautifulsoup4==4.14.3
blinker==1.9.0
bs4==0.0.2
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
colorlog==6.10.1
customtkinter==5.2.2
Cython==3.2.4
darkdetect==0.8.0
et_xmlfile==2.0.0
fake-email==2.0.0
fake-useragent==2.2.0
Faker==39.0.0
Flask==3.1.2
Flask-SQLAlchemy==3.1.1
frozenlist==1.8.0
greenlet==3.3.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
magic-filter==1.0.12
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
mechanize==0.4.10
multidict==6.7.0
Nuitka==2.8.10
numpy==2.3.5
openpyxl==3.1.5
ordered-set==4.1.0
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.3
pathlib2==2.3.7.post1
pefile==2024.8.26
phonenumbers==9.0.24
propcache==0.4.1
pyaes==1.6.1
pyasn1==0.6.2
pycountry==26.2.16
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
pydumpck==1.20.1
Pygments==2.19.2
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
PyJWT==2.10.1
pyotp==2.9.0
pyperclip==1.11.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-telegram-bot==22.5
pytz==2025.2
pywin32==311
pywin32-ctypes==0.2.3
redis==7.1.0
requests==2.32.5
rich==14.2.0
rsa==4.9.1
scidatetime==1.20.5
selenium==4.39.0
setuptools==80.9.0
sgtpyutils==1.20.8
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.1
spark-parser==1.9.0
SQLAlchemy==2.0.45
telegram==0.0.1
Telethon==1.42.0
tinyaes==1.1.2
trio==0.32.0
trio-websocket==0.12.2
twilio==9.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
ujson==5.11.0
uncompyle6==3.9.3
undetected-chromedriver==3.5.5
urllib3==2.6.2
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.9.0
websockets==16.0
Werkzeug==3.1.4
wheel==0.46.3
WMI==1.5.1
wsproto==1.3.2
xdis==6.1.7
yarl==1.22.0
zstandard==0.25.0

